
<div class="small-12 columns">
  <div class="small-12 centered columns">

    <h3 class="grey-text">Add Bill</h3>
  </div>
</div>
<%= form_for @bill, html: { id: "new-bill-submit" } do |f| %>

      <div class="small-12 columns red-errors" id="new-bill-errors">

      </div>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <%= f.label :url %>
      <%= f.url_field :url %>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <%= f.label :start_due_date, "Starting Date" %>
      <%= f.text_field :start_due_date, as: :datepicker, class: "datepicker", id: "datepicker-bill" %>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <%= f.label :recurring_amt, "Recurring Amount" %>
      <%= f.text_field :recurring_amt, placeholder: "0.00" %>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="small-12 columns">
      <%= f.label :one_time %>
      <%= f.check_box :one_time, value: 1 %>
    </div>
  </div>

  <div class="small-12 small-centered columns">
    <div>
      <%= f.submit "Submit", class: "close-reveal-modal button pill", "data-close" "aria-label" => "Close modal", id: "bill_submit" %>
    </div>
  </div>

<% end %>
