<%= form_for @bill do |f| %>
  <div class="in-line">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="in-line">
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>

  <div class="in-line">
    <%= f.label :start_due_date, "Starting Date" %>
    <%= f.text_field :start_due_date, as: :datepicker, id: "datepicker" %>
  </div>

  <div class="in-line">
    <%= f.label :recurring_amt, "Recurring Amount" %>
    <%= f.text_field :recurring_amt, placeholder: "0.00" %>
  </div>

  <div class="in-line">
    <%= f.label :one_time, "One Time" %>
    <%= f.check_box :one_time %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>

<% end %>
