<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "defogger" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="small-12 columns sticky-top" data-sticky-container>
      <div class="small-12 columns sticky-top" data-sticky data-sticky-on="small" data-margin-top="0">
        <div class="small-12 columns top-bar">
          <div class="small-6 columns">
            <div class="top-bar-left">
              <ul class="menu">
                <div class="left-header">
                  <div class="circle-header">
                  </div>
                  <div id="logo">
                    <li class="menu-text">
                      <%= link_to "Defogger", root_path, class: "header-color"%>
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="small-6 columns">
            <div class="top-bar-right">
              <ul class="menu">
                <% if !user_signed_in?%>
                  <li><%= link_to "Sign In", '#signin', "data-open" => "signin-form" %></li>
                  <li><%= link_to "Sign Up", '#signup', "data-open" => "signup-form", id: "topbar-signup"%></li>
                <% else %>
                  <li><%= link_to "Update Account", edit_user_registration_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 columns" id="flash-notices">

    </div>
    <div class="small-12 columns" id="flash-notices-non-js">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <% end %>
      <% end %>
    </div>
    <div class="reveal" id="signup-form" data-reveal>
      <%= render 'devise/registrations/new' %>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span id="form_close_signup" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="reveal" id="signin-form" data-reveal>
      <%= render 'devise/sessions/new' %>
      <button class="close-button" data-close aria-label="Close modal" type="button" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="small-12 columns">
      <%= yield %>
    </div>
  </body>
</html>
